Flask-Caching==2.0.0
Flask-Cors==3.0.10
Flask-Restful==0.3.9
Flask-Session==0.4.0
Flask==2.1.2
PyYAML==6
SQLAlchemy==1.4.37
boto3>=1.26.15
cryptography==37.0.4
discord-webhook==0.15.0
dollar-ref>=0.1.3
flask-jwt-extended==4.4.2
gunicorn==20.1.0
jsonschema==4.9.1
jwcrypto~=1.4.2
pandas~=1.5.1
paramiko==2.12.0
passlib==1.7.4
pinject==0.14.1
pyhumps==3.7.1
pyjwt[crypto]==2.4.0
pymysql==1.0.2
python-dateutil==2.8.2
redis==4.2.0
requests==2.27.1
stripe==3.2.0
validators==0.20.0